*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('image/fon.jpg');
}
.block{
    width: 80%;
    margin: 0 auto;
    position: relative;
    height: 280px;
}


h1{
    background-color: white;
    font-size: 300%;
    font-weight: 1200;
    font-family: sans-serif;
    color: rgb(1, 14, 14);
    text-align: center;
}

.btn{
    font-size: 30px;
    color: rgb(61, 68, 67);
    text-decoration: none;
    border: 2px solid;
    border-radius: 13px;
    padding: 5px 3px 5px 3px;
    margin: 20px;
    background-color: aqua;
    transition: .6s;
    align-items: center;
    position: absolute;
    left: 223px;
    top: 56px;
}
.img{
    border-radius: 35%;
    width: 250px;
    height: 250px;
    margin: auto;
    position: absolute;
    right: 410px;
    top: 0;
}
section{
    text-align: center;
    vertical-align: auto;
}

.txt{
    background-color: rgba(240, 255, 255, 0.74);
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    background-color: rgba(240, 255, 255, 0.74);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.head{
    width: 600px;
    height: 400px;
}



